.product {
  border: 1px solid black;
  height: 500px;
  width: 300px;
  position: relative;
}
.product-info {
  padding: 15px;
}
.product-info p {
  margin: 5px;
}
.product img {
  height: 250px;
  width: 300px;
  border-radius: 5px;
}
.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: rgb(230, 202, 149);
  border: none;
  position: absolute;
  bottom: 0;
}
.btn-text{
    margin-right: 15px;
}
.btn-cart:hover {
  background-color: orange;
}
